.bg-hero-image {
    background-image: url("img/gallery.png");
    background-position: center center;
}
.title {
    font-family: cooper-black-std, serif;
}
.desc {
    font-family: fertigo-script, sans-serif;
}