.bg-hero-image {
    background-image: url("img/gallery.png");
    background-position: center center;
}
.title {
    font-family: cooper-black-std, serif;
}
.desc {
    font-family: fertigo-script, sans-serif;
}
.cra {
    max-width: 100%; 
    margin: auto; 
    margin-top: 10%; 
    margin-bottom: 10%;
}
.cratext {
    color: white; 
    font-family: fertigo-script, sans-serif;
    font-size: calc(0.6em + 0.4vw);
}
.cratitle {
    font-family: cooper-black-std, serif;
    color: white;
}